extends layout

block content
    input(type='text' class='w3-margin' id='name')
    a(class='w3-btn w3-black w3-margin' onclick='go()' id='goButton' href='') Login

    script(src='/javascripts/index.js')