doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/w3.css')
      script(src='/lib/jquery/jquery-3.3.1.min.js')
      script(src="https://api-maps.yandex.ru/2.1/?apikey=29c1b4d1-5ec3-4519-b890-ddfce6b000fb&lang=ru_RU" type="text/javascript")
  body
      <script src="/javascripts/dist/socket.io.js"></script>
      block content
      block scripts
