extends main_template.pug

block content
    div(class='w3-container' style='margin-top:45px; width:500px')
        h2 Вход
        form(class='w3-container w3-card-4')
            p
            a(class='w3-text-gray') Name
            input(class='w3-input w3-border' type='text' required)
            p
            a(class='w3-text-gray') Password
            input(class='w3-input w3-border' type='text' required)
            p
            p
            a(class='w3-button w3-padding w3-hover-green w3-black w3-text-white' style='width:120px') Вход
            p