div(class='w3-black w3-margin-top w3-margin-right w3-margin-left w3-card-4')
    div(class='w3-container')
        p User List
            include user_modal
            table(class='w3-table-all' id='user_table')
                tr
                    th Name
                    th Money
                    th Acquisitions
            script(src='/javascripts/user_info.js')